html {
	font-size: 10px; /* базовый шрифт будет 10 пикселей в высоту  */;
	font-family: 'Raleway', sans-serif;
	background-color: #D1FCCE;
}

q {
	font-size: 15px;
}

cite {
	font-size: 15px;
}

.citata {
	padding: 0 0 10px 30%;
	text-align: justify;
}

h1 {
	font-size: 40px;
	text-align: center;
}

p, li, dl {
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0px;
	
}

p {
	margin-top: 0px;
	margin-bottom: 3px;
}

body {
	width: 800px;
	margin: 0 auto;
	background-color: #B6D5FB;
	padding: 0 20px 5px 20px;
	border: 3px solid white;
}

h1 {
	margin: 0;
	padding: 10px 0;
	color: rgb(14, 33, 207);
	text-shadow: 3px 3px 1px black;
}

h2 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5px;
}

img {
	float: right;
	margin-left: 20px;
	margin-top: 7px;
	margin-bottom: 5px;
	border: white solid 1px;
	border-radius: 5px;
}

main {
	clear: both;
}

footer {
	margin: 30px 0 0 0;
}

iframe, video, audio {
	display: block;
	margin: 0 auto;
	border: white solid 1px;
	border-radius: 5px;
}

nav {
	display: flex;
}

nav h2 {
	padding: 10px 5px 5px 5px;
	margin: 2px;
	background-color: #D1FCCE;
	color: rgb(14, 33, 207);
	border-radius: 7px
}

nav a {
	text-decoration: none;
}

nav :hover {
	background-color: aqua;
	color: rgb(14, 33, 207);
}

nav a:visited {
	color: rgb(14, 33, 207);
}

aside {
	margin-top: 25px;
	text-align: center;
}

aside h2 {
	margin-top: 0px;
	margin-bottom: 15px;
}